# API Configuration
EXPO_PUBLIC_API_BASE_URL=https://library-management-system-lxk1.onrender.com
EXPO_PUBLIC_API_VERSION=v1

# API Endpoints
EXPO_PUBLIC_API_AUTH_LOGIN=/auth/login
EXPO_PUBLIC_API_USERS_ME=/users/me
EXPO_PUBLIC_API_BOOKS_GET_ALL=/books/getAll
EXPO_PUBLIC_API_BOOKS_GET_BY_ID=/books/getBookById
EXPO_PUBLIC_API_BOOKS_BORROW=/borrow/request
EXPO_PUBLIC_API_BOOKS_RETURN=/books/return
EXPO_PUBLIC_API_BOOKS_SEARCH=/books/search
EXPO_PUBLIC_API_BOOKS_GENRE=/books/genre

# App Configuration
EXPO_PUBLIC_APP_NAME=Library Hub
EXPO_PUBLIC_APP_VERSION=1.0.0

# Timeout Configuration
EXPO_PUBLIC_API_TIMEOUT=10000
